<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}<title>{{ title }}</title>{% endblock title %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

    {% block content %}

    <h1>{{ title }}</h1>

    <ul class="mainmenu">
        {% for book in books %}
        <li><a href="">{{ book.title }}</a></li>
        <li><a href="">{{ book.author }}</a></li>
        <li></li>
        <li></li>







        {% endfor %}
    </ul>

    <div class="clear"></div>

    <div class="content">
        {% if name %}
            <p>Содержимое {{name}}</p>
        {% else %}
            <p>Содержимое страницы</p>
        {% endif %}
    </div>

    {% endblock content %}
</body>
</html>