<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Все книги</title>
</head>
<body>
    <center>
    <h1>Все книги</h1>
    {% for book in books %}
    <h2>{{ book.title }}</h2>
    <p>{{ book.author }}</p>
    <p>{{ book.intro }}</p>
    <p>{{ book.amount }}</p>
    <p>{{ book.genre }}</p>
    <p>{{ book.price }}</p>
    <p>{{ book.available }}</p>
    <p><b>Дата: {{ book.date.date() }}</b></p><br>
    <button><a href="post/{{book.id}}">Подробнее</a></button>
    {% endfor %}
    </center>
</body>
</html>